@model TimeServed.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to cancel this appointment?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Client
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.client.FirstName) @Html.DisplayFor(model => model.client.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.client.location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.client.location.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancel" class="btn btn-danger" /> |
        <a asp-action="Index">Back to appointments</a>
    </form>
</div>
