@model TimeServed.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}


<h3 class="text-center">Are you sure you want to cancel this appointment?</h3>

<hr />
<div class="card" style="width: 30vw; margin: auto">
    <dl class="text-center" style="margin-top:3vh">
        <dt class="">
            Client
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.client.FirstName) @Html.DisplayFor(model => model.client.LastName)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.client.location)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.client.location.LocationName)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.VisitDateStart)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.VisitDateStart)
        </dd>

    </dl>
    <br />
</div>
<form asp-action="Delete" class="text-center" style="margin-top:3vh">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Cancel" class="btn btn-danger" />

</form>
<div class="text-center" style="margin-top:3vh">
    <a asp-action="Index">See all of your appointments</a>
</div>
