@model IEnumerable<TimeServed.Models.Appointment>

@{
    ViewData["Title"] = "Previous";
}

<body>
    <h1 class="text-center" style="margin-top: 5vh; margin-bottom: 5vh">Previous appointments</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
             
                <th>
                    @Html.DisplayNameFor(model => model.CheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.client)
                </th>
                <th>
                    Time Spent (hours)
                </th>
            </tr>
        </thead>
        <tbody class="table-active">
            @foreach (var item in Model)
            {
                if (item.CheckOut != null)
                {
                    <tr>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckOut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client.FirstName)  @Html.DisplayFor(modelItem => item.client.LastName)
                        </td>
                        <td class="appointmentTime">
                            @(Math.Round(item.TimeSpent().TotalHours * 4, MidpointRounding.ToEven) / 4)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
  
</body>

