@model IEnumerable<TimeServed.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

    <h1 class="text-center" style="margin-top: 5vh; margin-bottom: 3vh">Appointments</h1>

<table class="table table-bordered" style="margin-top: 2rem">
    <thead class=" thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client.location)
            </th>
            <th>
                Attorney
            </th>
        </tr>
    </thead>
    <tbody class="table-active">
@foreach (var item in Model)
{
    if (item.VisitDate > DateTime.Today)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.FirstName)  @Html.DisplayFor(modelItem => item.client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.applicationUser.FirstName)  @Html.DisplayFor(modelItem => item.applicationUser.LastName)
            </td>
        </tr>
    }
}
    </tbody>
</table>
