@model TimeServed.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>

<hr />
<div class="card" style="width: 30vw; margin: auto">
    <dl class="text-center" style="margin-top:3vh">
        <dt class="">
            @Html.DisplayNameFor(model => model.location.LocationName)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.location.LocationName)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.location.StreetAddress)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.location.StreetAddress)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.applicationUser)
        </dt>
        @if (Model.ApplicationUserId != null)
        {
            <dd class="">
                @Html.DisplayFor(model => model.applicationUser.FirstName) @Html.DisplayFor(model => model.applicationUser.LastName)
            </dd>
        }
        else
        {
            <dd class="">
                No attorney assigned
            </dd>
        }
    </dl>
</div>
<div class="text-center">
    <a asp-action="Index">See all inmates</a>
</div>
