@model IEnumerable<TimeServed.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Completed appointments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                Appointment length
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.client.location)
            </th>
            <th>
                Attorney
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    @if (item.CheckIn != null && item.CheckOut != null)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @item.TimeSpent().Hours:@item.TimeSpent().Minutes:@item.TimeSpent().Seconds
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.FirstName) @Html.DisplayFor(modelItem => item.client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.applicationUser.FirstName) @Html.DisplayFor(modelItem => item.applicationUser.LastName)
            </td>
        </tr>
    }
}
    </tbody>
</table>
