@model IEnumerable<TimeServed.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Completed appointments</h1>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("nameString", "", new { placeholder = "Search by attorney", style = "width:250px" }) <br />
    </p>
}
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchDate", "", new { placeholder = "Search by date (in numbers)", style = "width:250px" }) <br />
    </p>
}
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("clientName", "", new { placeholder = "Search by inmate", style = "width:250px" }) <br />
    </p>
}

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                Appointment length(hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.client.location)
            </th>
            <th>
                Attorney
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
        </tr>
    </thead>
    <tbody class="table-active">
        @foreach (var item in Model)
        {
            @if (item.CheckIn != null && item.CheckOut != null)
            {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @(Math.Round(item.TimeSpent().TotalHours * 4, MidpointRounding.ToEven) / 4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.FirstName) @Html.DisplayFor(modelItem => item.client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.applicationUser.FirstName) @Html.DisplayFor(modelItem => item.applicationUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
        </tr>
            }
        }
    </tbody>
</table>

