@model IEnumerable<TimeServed.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Completed appointments</h1>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("nameString", "", new { placeholder = "Search by attorney", style = "width:250px" }) <br />
    </p>
}
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchDate", "", new { placeholder = "Search by date (in numbers)", style = "width:250px" }) <br />
    </p>
}

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                Appointment length(h/m/s)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.client.location)
            </th>
            <th>
                Attorney
            </th>
        </tr>
    </thead>
    <tbody class="table-active">
        @foreach (var item in Model)
        {
            @if (item.CheckIn != null && item.CheckOut != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOut)
                    </td>
                    <td>
                        @Math.Round(item.TimeSpent().TotalHours, 2, MidpointRounding.AwayFromZero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.client.FirstName) @Html.DisplayFor(modelItem => item.client.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.client.location.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.applicationUser.FirstName) @Html.DisplayFor(modelItem => item.applicationUser.LastName)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

