@model TimeServed.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Inmate
        </dt>
        <dd class="col-sm-10">
         @Html.DisplayFor(model => model.client.FirstName) @Html.DisplayFor(model => model.client.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDateStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitDateStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to all appointments</a>
</div>
